.feature-menu-item-a {
	border-radius: 24px;
	margin: 0 16px;
	padding: 8px;
	width: 24px;
	text-decoration: none;
	align-items: center;
	cursor: pointer;
	display: flex;
	line-height: 20px;
	transition: border-radius .15s cubic-bezier(0.4, 0.0, 0.2, 1), margin-left .15s cubic-bezier(0.4, 0.0, 0.2, 1), padding .15s cubic-bezier(0.4, 0.0, 0.2, 1), width .15s cubic-bezier(0.4, 0.0, 0.2, 1);
}

#feature-menu-container:hover .feature-menu-item-a {
	border-radius: 0 24px 24px 0;
	margin-left: 0px;
	margin-right: 24px;
	padding: 8px 12px 8px 24px;
	width: auto;
}

.feature-menu-item-a:hover {
	background: #f1f3f4;
}

.feature-menu-item-a[active] {
	background: #e8f0fe;
}

.feature-menu-item-a[active]:hover {
	background: #d2e3fc;
}

.feature-menu-item-layout {
	fill: #3c4043;
	color: #3c4043;
	align-items: center;
	display: flex;
	width: 100%;
}

.feature-menu-item-a[active] .feature-menu-item-layout {
	fill: #1a73e8;
	color: #1a73e8;
}

.feature-menu-item-text {
	max-height: 24px;
	min-width: 124px;
	display: flex;
	padding-left: 24px;
	flex: 1;
	word-break: break-all;
	word-break: break-word;
	word-wrap: break-word;
	-webkit-box-align: center;
	box-align: center;
	align-items: center;
	letter-spacing: .01785714em;
	font-family: 'Google Sans', Roboto, Arial, sans-serif;
	font-size: .875rem;
	font-weight: 500;
	line-height: 1.25rem;
	box-pack: justify;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.feature-menu-item-icon {
	flex-shrink: 0;
}