div#dialog-container {
	-webkit-font-smoothing: antialiased;
	color: #3c4043;
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	text-size-adjust: 100%;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	bottom: 0;
	display: flex;
	flex-direction: column;
	left: 0;
	min-height: 360px;
	padding: 64px 16px;
	position: fixed;
	right: 0;
	top: 0;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

div#dialog-container>div {
	-webkit-font-smoothing: antialiased;
	color: #3c4043;
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	text-size-adjust: 100%;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	text-align: center;
	width: 100%;
}

div#dialog-container>div>div#dialog-icon {
	-webkit-font-smoothing: antialiased;
	fill: #3c4043;
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	text-size-adjust: 100%;
	-webkit-user-select: none;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
	height: 200px;
	margin: 20px auto;
	max-width: 100%;
	width: 480px;
}

div#dialog-icon>svg{
	max-height: 100%;
}

div#dialog-container>div>div#dialog-title {
	-webkit-font-smoothing: antialiased;
	text-size-adjust: 100%;
	-webkit-user-select: none;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
	color: #202124;
	margin-bottom: 16px;
	font-family: 'Google Sans',Roboto,Arial,sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 2rem;
}

div#dialog-container>div>div#dialog-message {
	-webkit-font-smoothing: antialiased;
	text-size-adjust: 100%;
	-webkit-user-select: none;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
	color: #3c4043;
	padding: 0 5px;
	letter-spacing: .01428571em;
	font-family: Roboto,Arial,sans-serif;
	font-size: .875rem;
	font-weight: 400;
	line-height: 1.25rem;
}